---
UseTab: Always
TabWidth: 2
BreakBeforeBraces: Custom
ColumnLimit: 79
BraceWrapping:
  AfterControlStatement: Always
  AfterFunction: true
  BeforeElse: true
  BeforeWhile: false
  AfterStruct: true
